<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PractickColledg.Properties.Settings.Ruchki_dlya_odejdiConnectionString"
            connectionString="Data Source=DESKTOP-5SMGMUB\SQLEXPRESS;Initial Catalog=&quot;Ruchki dlya odejdi&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>